{% extends 'layouts/main.html' %}
{% block title %}{{ actor.name }} | Actor{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ actor.name }}
		</h1>
		<p class="subtitle">
			Gender: {{ actor.gender }}
		</p>
		<p class="subtitle">
			ID: {{ actor.id }}
		</p>
	</div>
</div>
<section>
<div class="row">
		<button><a href="/actors/{{actor.id}}/patch">Edit Actor</a></button> </button> <button><a href="/actors/{{ actor.id }}/delete">Delete Actor</a></button>
	</div>
</section>
{% endblock %}

