{% extends 'layouts/main.html' %}
{% block title %}Film Page{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ movie.title }}
		</h1>
		<p>
			<h3><i class="fas fa-globe-americas"></i> {{ movie.release }}</h3>
		</p>
		<p class="subtitle">
			ID: {{ movie.id }}
		</p>
		
	</div>
</div>
<section>
<div class="row">
		<button><a href="/movies/{{ movie.id }}/patch">Edit project</a></button> <button><a href="/movies/{{ movie.id }}/delete">Delete project</a></button>
	</div>
</section>

{% endblock %}

