{% extends 'layouts/main.html' %}
{% block title %}New Film{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" action="/movies">
      <h3 class="form-heading">Film information <a href="/" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="title">Title</label>
        {{ form.title(class_ = "form-control", autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="release">Release</label>
        {{ form.release(class_ = "form-control", autofocus = true) }}
      <input type="submit" value="Create Film" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}